<div class="flex m-auto h-screen justify-center">
    <form (ngSubmit)="submit()" #myForm="ngForm" class="p-4 rounded-lg border m-auto w-1/3">
        <h1 class="text-center text-xl font-bold">Register</h1>
        <div class="my-5 w-full">
            <label class="font-bold" for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email address" class="p-2 rounded w-full"
                [(ngModel)]="form.email" #email="ngModel" required>
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="p-2 my-5 w-full bg-red-500 text-red-200 rounded">
            Your email is invalid!
        </div>
        <div class="my-5 w-full">
            <label class="font-bold" for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" class="p-2 rounded w-full"
                [(ngModel)]="form.password" #password="ngModel" required>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="p-2 my-5 w-full bg-red-500 text-red-200 rounded">
            Your password is invalid!
        </div>
        <div class="my-5 w-full">
            <label class="font-bold" for="password">Confirm Password</label>
            <input type="password" id="password" name="confirmPassword" placeholder="Confirm Password"
                class="p-2 rounded w-full" [(ngModel)]="form.confirmPassword" #confirmPassword="ngModel" required>
        </div>
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
            class="p-2 my-5 w-full bg-red-500 text-red-200 rounded">
            Wrong Please check again!
        </div>
        <div class="my-5 w-full">
            <button type="submit" [disabled]="myForm.form.invalid"  class="p-2 w-full bg-blue-600 rounded text-white hover:to-brown-600 cursor-pointer">
                <ng-container *ngIf="isLoading()">
                    Loading...
                </ng-container>
                <ng-container *ngIf="!isLoading()">
                    Submit
                </ng-container>
            </button>
        </div>
    </form>
</div>