<!-- <app-books></app-books>
<app-cart></app-cart> -->
<nav class="flex justify-between p-4 bg-blue-800 text-white">
    <div>
        <a routerLink="">Book Shop</a>
    </div>
    <div>
        <a class="mx-4" routerLink="cart">My Cart</a>
        <ng-container *ngIf="!isAuthenticated()">
            <a class="mx-4" routerLink="login">Log In</a>
            <a class="mx-4" routerLink="register">Register</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
            <button (click)="logout()" class="mx-4" routerLink="login">Log Out</button>
        </ng-container>
    </div>
</nav>
<div class="container mx-auto">
    <router-outlet></router-outlet>
</div>